* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.control {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 50%;
    background-color: lightgrey;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-btn {
    background-color: lightseagreen !important;
    transition: all .4s ease-in-out;
}